
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
  }

td {
    border: 1px solid black;
}

.btn-group {
    border: 0px solid black;
}

.txt {
    text-align: center;
}

.plyta_q.e1i {
    background-color: rgb(221, 240, 114);
}
.plyta_q.e2i {
    background-color:rgb(136, 190, 74);

}

.table2i.t1i, .table2i.t2i, .table2i.t3i, .table2i.t4i, .table2i.t8i, .table2i.t9i, .table2i.t10i, .table2i.t11i {
    background-color: rgb(221, 240, 114);
}
.table2i.t5i, .table2i.t6i, .table2i.t7i, .table2i.t12i, .table2i.t13i, .table2i.t14i {
    background-color: rgb(136, 190, 74);
}