<!DOCTYPE html>
<html>
    <head>
        {% block scripts %}{% endblock scripts %}
        <title>Ламінування - {{ title }}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <form action="/test" method="get">
        <div class="btn-group">
            <button type="submit" formaction="/home16" class="nav_button">Робота зміни 16</button>
            <button type="submit" formaction="/home18" class="nav_button">Робота зміни 18</button>
            <button type="submit" formaction="/work" class="nav_button">Залишки 16Е1</button>
            <button type="submit" class="nav_button">Залишки 16Е05</button>
            <button type="submit" class="nav_button">Залишки 18Е1</button>
            <button type="submit" class="nav_button">Залишки 18Е05</button>
            <button type="submit" class="nav_button">Упаковка</button>
        </div>
        <p></p>
        <div>
            <input type="date" name="top_info" id="top_date" class="top_date">
            <select name="top_info" id="top_zmina">
                <option value="1">день</option>
                <option value="2">ніч</option>
            </select>
            <p></p>
            Майтер зміни: 
            <select name="top_info" id="top_maister" class="top_maister">
                {% for m in maister_list %}
                <option value="{{m}}">{{m}}</option>
                {% endfor %}
            </select>
            &nbsp;&nbsp; 
            Зміна № <select name="top_info" id="top_nomer" class="top_nomer">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </div>
        </form>       
            <h2>Робота пресів {{ thick }}</h2>
            {% block body %}{% endblock body %}
    </body>
</html>