<!DOCTYPE html>
<html>
    <head>
        <title>Кінець місяця</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <form action="/test" method="get">
            <div class="btn-group">
                <button type="submit" formaction="/home16" class="nav_button">Робота зміни</button>
                <button type="submit" formaction="/remain" class="nav_button">Залишки 16</button>
                <button type="submit" formaction="/addtexture" class="nav_button">Управління</button>
                <button type="submit" formaction="/mf" class="nav_button">Сформувати залишки на початок місяця</button>
            </div>
            </form>  

        <h2>Сформувати залишки на початок місяця</h2>

        <div class="addtexturegrid">
            <div class="addtexturediv">
                Додати нову текстуру
                <form id="oneTexture" action="/addnewtexture" method="POST">
                    <input type="text" name="newtex" placeholder="Код" required />
                    <input id="texture" name="newtex" placeholder="Назва текстури" required />
                    <button type="submit">Додати</button>
                </form>
            </div>
            <div class="addtexturediv">
                Додати текстури з файлу
                <form id="texturesFromFile" action="/addtexturesfromfile" method="POST">
                    <input type="file" name="newtex" accept="text/plain" required/>
                    <button type="submit">Додати</button>
                </form>
            </div>
            <div class="addtexturediv">
                Ввести залишки для текстури
                <form action="/addremainder" method="POST">
                    <p>
                    <select name="newrem" required>
                        <option value="" disabled selected>На початок якого місяця</option>
                        <option value="01">Січень</option>
                        <option value="02">Лютий</option>
                        <option value="03">Березень</option>
                        <option value="04">Квітень</option>
                        <option value="05">Травень</option>
                        <option value="06">Червень</option>
                        <option value="07">Липень</option>
                        <option value="08">Серпень</option>
                        <option value="09">Вересень</option>
                        <option value="10">Жовтень</option>
                        <option value="11">Листопад</option>
                        <option value="12">Грудень</option>
                    </select>
                    <input type="number" name="newrem" min="2015" max="2099" step="1" value="2021" required />
                    </p>
                    <p>
                        <select id="texture" name="newrem" required>
                            {% for tex in texture_list %}
                            <option value="{{tex}}">{{tex}}</option>
                            {% endfor %}
                        </select>
                        <select name="newrem" required>
                            <option value="16">16</option>
                            <option value="16">18</option>
                        </select>
                        <select name="newrem" required>
                            <option value="1">E1</option>
                            <option value="2">E05</option>
                        </select>
                    </p>
                    <p>
                        <input type="text" name="newrem" placeholder="Сорт 1" size="8px">
                        <input type="text" name="newrem" placeholder="Сорт 2" size="8px">
                        <input type="text" name="newrem" placeholder="Сорт 3" size="8px">
                        <input type="text" name="newrem" placeholder="Сорт 4" size="8px">
                    </p>
                    <button type="submit">Записати</button>
                </form>
            </div>
            <div class="addtexturediv">
                Завантажити залишки з файлу
                <form target="_self" action="/addremaindersfromfile" method="POST">
                    <p>
                        <select name="newrem" required>
                            <option value="" disabled selected>На початок якого місяця</option>
                            <option value="01">Січень</option>
                            <option value="02">Лютий</option>
                            <option value="03">Березень</option>
                            <option value="04">Квітень</option>
                            <option value="05">Травень</option>
                            <option value="06">Червень</option>
                            <option value="07">Липень</option>
                            <option value="08">Серпень</option>
                            <option value="09">Вересень</option>
                            <option value="10">Жовтень</option>
                            <option value="11">Листопад</option>
                            <option value="12">Грудень</option>
                        </select>
                        <input type="number" name="newrem" min="2015" max="2099" step="1" value="2021" required />
                        <select name="newrem" required>
                            <option value="16">16</option>
                            <option value="16">18</option>
                        </select>
                        <select name="newrem" required>
                            <option value="1">E1</option>
                            <option value="2">E05</option>
                        </select>
                    </p>
                    <p><input type="file" name="newrem" accept=".txt" required/></p>
                    <button type="submit">Завантажити</button>
                </form>
            </div>
        </div>

        <h3>{{message}}</h3>
    </body>
</html>